<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Plan your life</title>
    <link rel="stylesheet" href="../css/main_style.css">
    <link rel="stylesheet" href="../css/nav_style.css">
    <link rel="stylesheet" href="../css/slider_style.css">
    <link rel="stylesheet" href="../css/sponsor_style.css">
    <link rel="stylesheet" href="../css/app_style.css">
    <link rel="stylesheet" href="../css/about_style.css">
    <link rel="stylesheet" href="../css/resourses_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8bd96ebcfe.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="nav">
            <div class="nav_left">
                <div class="circlelogo"></div>
                <a href="#" class="nav_left-btn">Home</a>
                <a href="#" class="nav_left-btn">Blog</a>
                <a href="#" class="nav_left-btn">Features</a>
                <a href="#" class="nav_left-btn">Pricing</a>
                <a href="#" class="nav_left-btn">Documentation</a>
            </div>
            <div class="nav_right">
                <a href="#" class="nav_right-btn">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="#" class="nav_right-btn">
                    <i class="fa-solid fa-paper-plane"></i>
                </a>
                <a href="#" class="nav_right-btn">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="#" class="nav_right-btn">
                    <i class="fa-solid fa-m"></i>
                </a>
                <a href="#" class="nav_right-btnget">Get started</a>
            </div>
        </div>

        <div class="silentblock"></div>
        <div class="slider__container">
            <div class="slider">
                <div class="slider-line">
                    <img src="../images/slider_first.jpg">
                    <img src="../images/slider_second.jpg">
                    <img src="../images/slider_third.jpg">
                    <img src="../images/slider_fourth.jpg">
                </div>
                <div class="slider_btn">
                    <div class="slider_btn-prev">
                        <i class="fa-solid fa-arrow-left"></i>
                    </div>
                    <div class="slider_btn-next">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="company_names">
            <a href="#" class="company_names-item">
                <img src="../images/tinkoff_logo.png">
            </a>
            <a href="#" class="company_names-item">
                <img src="../images/toshiba_logo.png">
            </a>
            <a href="#" class="company_names-item">
                <img src="../images/walmart_logo.png">
            </a>
            <a href="#" class="company_names-item">
                <img src="../images/amazon_logo.png">
            </a>
        </div>
    </div>

    <div class="wrapper__app">
        <div class="app_text">
            <div class="app_text-title">desktop and mobile app</div>
            <div class="app_text-subtitle">Plan and manage</div>
            <div class="app_text-item">Brute laoreet efficiendi id his, ea illum nonumes luptatum<br>
                pro. Usu atqui laudem an, insolens gubergren similique<br>
                est cu. Et vel modus congue vituperata. Solum patrioque<br>
                no sea. Mea ex malis mollis oporteat. Eum an expetenda<br>
                consequat.
            </div>
            <div class="app_btn">
                <a href="#" class="app_btn-view">View video ▶</a>
                <a href="#" class="app_btn-see">See features</a>
            </div>
        </div>
        <div class="app_image">
            <img src="../images/laptop_app.png" alt="">
        </div>
    </div>

    <div class="wrapper">
        <div class="about__container">
            <div class="about-title">ABOUT US</div>
            <div class="about-subtitle">Read about our app</div>
            <div class="about_info">
                <div class="about_info_piece">
                    <div class="about_info_piece-icon">
                        <img src="../images/about_first.PNG" alt="">
                    </div>
                    <div class="about_info_piece-title">Overview</div>
                    <div class="about_info_piece-text">Brute laoreet efficiendi id<br>
                        his, ea illum nonumes<br>
                        luptatum pro.
                    </div>
                </div>
                <div class="about_info_piece">
                    <div class="about_info_piece-icon">
                        <img src="../images/about_second.PNG" alt="">
                    </div>
                    <div class="about_info_piece-title">Files</div>
                    <div class="about_info_piece-text">No vim nulla vitae<br>
                        intellegat. Ei enim error<br>
                        ius, solet atomorum<br>
                        conceptam ex has.
                    </div>
                </div>
                <div class="about_info_piece">
                    <div class="about_info_piece-icon">
                        <img src="../images/about_third.PNG" alt="">
                    </div>
                    <div class="about_info_piece-title">Meeting chats</div>
                    <div class="about_info_piece-text">Vim ne tacimates<br>
                        neglegentur. Erat diceret<br>
                        omittam at est.
                    </div>
                </div>
                <div class="about_info_piece">
                    <div class="about_info_piece-icon">
                        <img src="../images/about_fourth.PNG" alt="">
                    </div>
                    <div class="about_info_piece-title">Save events</div>
                    <div class="about_info_piece-text">Nisl idque mel ea,<br>
                        nominati voluptatum.
                    </div>
                </div>
            </div>
        </div>
        <div class="about_orbtn">
            <a href="#" class="about_orbtn-more">Read more</a>
            <div class="about_orbtn-line"></div>
            <div class="about_orbtn-text">OR</div>
            <div class="about_orbtn-line"></div>
            <a href="#" class="about_orbtn-get">Get started</a>
        </div>
    </div>
    <div class="about_stats">
        <img src="../images/about_stats.png" alt="">
    </div>

    <div class="wrapper">
        <div class="resourses_title">OUR RESOURSES</div>
        <div class="resourses_subtitle">Start reading our blog</div>
    </div>

    <script src="../script/slider_script.js"></script>
</body>

</html>